
.slide {
    border: 2px solid;
}

.navbar {
    
}

.card {
    
}

.row {
    text-align: center;    
    
        
}

.container {

}

.post {
  
}

.row {
    margin: auto;
}
